html[data-theme="standard"] .copyicon.ft-copy-player-ad {
	background-image: url("chrome://foxtrick/content/resources/img/copy/copyPlayerAd.png");
}

html[data-theme="simple"] .copyicon.ft-copy-player-ad {
	background-image: url("chrome://foxtrick/content/resources/img/copy/copyPlayerAd_s.png");
}

/* apply FT branding to modified HT copy menu */
.copyWrapper ul li.ft-copy-player-ad {
	background-color: #efefff;
	background-image: url('chrome://foxtrick/content/resources/img/shortcuts/foxtrick.png');
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 1em;
	padding: 3px 10px 3px 15px;
}
