#ft-monitor-div {
	margin-bottom: 20px ;
	margin-top: 20px ;
}
.office-item #ft-monitor-div {
	padding: 7px 7px 0px 7px;
	margin-bottom: 0px ;
	margin-top: 0px ;
}

.office-item .boxBody {
	padding: 0px;
}

#ft-monitor-sort {
	margin-bottom: 5px;
}

/* two columns on dashboard */
#ft-monitor-container {
	clear: both;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 10px;
}
/* three columns in new office */
.office-item #ft-monitor-container {
	grid-template-columns: 1fr 1fr 1fr;
}

#ft-monitor-live-links {
	background-color: #f7f7f7;
	border-top: solid 1px #ececec;
	margin-top: 10px;
}
#ft-monitor-live-links td {
	vertical-align: middle;
}
#ft-monitor-live-info {
	color: red;
	width: 100%;
}

.ft-monitor-frame {
	border: 1px solid #ececec;
	border-radius: 7px;
}

.ft-monitor-frame > h3 {
	color: #222;
	background-color: #f7f7f7;
	border-bottom: solid 2px #ececec;
	margin: 0px;
	padding: 0px 3px 0px 3px;
}

.ft-monitor-team-name {
	width: 85%;
	display: inline-block;
}
.teamIconSpan + .ft-monitor-team-name  {
	width: 70%;
}
.flag + .ft-monitor-team-name {
	width: 75%;
}

.ft-monitor-remove {
	background-image: url("chrome://foxtrick/content/resources/img/cross_small.png");
	width: 12px;
	height: 12px;
	float: right;
	display: block;
	cursor: pointer;
}

.ft-monitor-remove:hover {
	background-image: url("chrome://foxtrick/content/resources/img/crossRed_small.png");
}

#ft-monitor-sidebar-box .hidden {
	display: none;
}

.teamIcon {
	padding: 0 5px 0 0;
	margin: 0 0 -2px;
	max-height: 24px;
	max-width: 36px;
}
html[dir="rtl"] .teamIcon {
	padding: 0 0 0 5px;
}

.ft-monitor-frame > h3 > a.flag > img {
	margin-top:-2px;
}

div.calendarWrapperOuter {
	min-height: 0px;
}
